#main-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 194px);
  font-family: Mulish;
}
.wrapper-box{
  width: calc(100vw - 366px)
}
#main-box{
  max-width: 607px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
img.obraz-ludzi{
  margin-bottom: 47px;
}
h2.dodaj-miejsce{
  font-size: 34px;
  margin-bottom: 16px;
}
p.przeslij-lokalizacje{
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  width: 412px;
  margin-bottom: 22px;
  line-height: 27.58px;
}
.przycisk{
  height: 48px;
  border-radius: 24px;
}

#header-box{
  margin-top: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.drop-zone{
  height: 356px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #EAEAEA;
}

.image-list {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping if there are too many thumbnails */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li.file-preview {
  width: 100px; /* Fixed width for square thumbnail */
  height: 100px; /* Fixed height for square thumbnail */
  margin: 5px; /* Space between thumbnails */
  overflow: hidden; /* Ensures content fits within the square */
  position: relative;
}

li.file-preview .close-icon{
  position: absolute;
  right: 3px;
  top: 3px;
  width: 20px;
  opacity: 0.6;
}
li.file-preview .close-icon:hover{
  opacity: 1;
}
li.file-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
}



.checkbox-strong{
  margin-top: 18px;
  margin-bottom: 12px;
  display: block;
}
.checkbox-text{
  margin-left: 10px;
  color: #B6B6B6;
}
.two-column-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
#place-name{
  grid-column: 1;
  grid-row:1;
}#voivodeship{
  grid-column: 1;
  grid-row:2;
}#district{
  grid-column: 1;
  grid-row:3;
}#locality{
  grid-column: 1;
  grid-row:4;
}#street-address{
  grid-column: 2;
  grid-row:1;
}#coordinates{
  grid-column: 2;
  grid-row: 2;
  display: flex;
  gap: 8px;
}#ease-of-access{
  grid-column: 2;
  grid-row:3 / span 2;
}
#coordinates .basic-input{
  flex-grow: 1;
  width:auto;
}
#ease-of-access .buttons{
  display: flex;
  align-items: center;
  gap: 8px;
}
.hide-radio{
  display: none;
}

@media (max-width: 1100px) {
  .two-column-form {
    grid-template-columns: 1fr;
  }
  #street-address{
    grid-column: 1;
    grid-row: 5;
  }#coordinates{
    grid-column: 1;
    grid-row: 6;
  }#ease-of-access{
    grid-column: 1;
    grid-row:7 / span 2;
  }
}
/* sterowanie */
#form-progress{
  display: flex;
  margin-top: 48px;
  align-items: center;
}
.step{
  padding: 0 10px;
  white-space: nowrap;
  font-weight: 700;
  color: #CCCCCC;
}
.active-step{
  color: #1A1A1A;
}
.bold-strip {
  flex: 1;
  height: 1px;
  background-color: #D9D9D9; /* Change to desired line color */
}

#form-navigation{
  margin-top: 70px;
  position: relative;
}
.right-button{
  position: absolute;
  right:0;
  width:181px;
  height: 48px;
}
.left-button{
  position: absolute;
  left:0;
  width:181px;
  height: 48px;
  background-color: #F1F3F4;
}