#place_photos{
  position: relative;
  margin-top: 48px;
  margin-bottom: 40px;
}


#place_details{
  width: 70%;
}
#place_details h1{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}
#place_details p{
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  margin-bottom: 35px;
}
#tags{
  margin-bottom: 45px;
}

#place_info{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}
.info_box{
  flex: 1 1 50%;
  display: flex;
  height: 74px;
  align-items: center;
}
.image_circle{
  width:54px;
  height:54px;
  background-color: #F1F3F4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_text h4{
  font-weight: 600;
  font-size: 14px;
}
.info_text strong{
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 768px) {
  #place_info {
      flex-direction: column;
  }

  .info-box {
      flex: 1 1 100%; 
  }
}