#main-box{
  width: calc(100vw - 162px);
  margin: 76px auto;
  display: flex;
}
#profile-nav{
  width: 356px;
}
#profile-places-switch{
  width:310px;
  margin-bottom: 54px;
}

#other-links ul{
  list-style: none;
}
#other-links ul li{
  margin-bottom: 21px;
  font-weight: 600;
}
#other-links ul li a{
  color: #1A1A1A;
}
#other-links ul li.grey a{
  color: #B6B6B6;
}
li#collapsible{
  position: relative;
  margin-bottom: 15px !important;
}
#collapsible img{
  position: absolute;
  right:0
}

#nav-arrow.rotated{
  transform: rotate(180deg);
}
.collapsible-content{
  padding-left: 8px;
}

.collapsible-content li:last-child{
  margin-bottom: 27px !important;
}
