#main-box{
  width: calc(100vw - 162px);
  margin: 76px auto;
  display: flex;
}
#profile-nav{
  width: 356px;
}
#profile-places-switch{
  width:310px;
  margin-bottom: 54px;
}

#other-links ul{
  list-style: none;
}
#other-links ul li{
  margin-bottom: 21px;
}

#nav-arrow.rotated{
  transform: rotate(180deg);
}
.collapsible-content{
  padding-left: 8px;
}
