#main-box{
  width: calc(100vw - 162px);
  margin: 76px auto;
  display: flex;
}
#profile-nav{
  width: 356px;
}
#profile-places-switch{
  width:310px;
  margin-bottom: 54px;
}

#other-links ul{
  list-style: none;
}
#other-links ul li{
  margin-bottom: 21px;
  font-weight: 600;
}
#other-links ul li a{
  color: #1A1A1A;
}
#other-links ul li.grey a{
  color: #B6B6B6;
}
li#collapsible{
  position: relative;
  margin-bottom: 15px !important;
}
#collapsible img{
  position: absolute;
  right:0
}

#nav-arrow.rotated{
  transform: rotate(180deg);
}
.collapsible-content{
  padding-left: 8px;
}

.collapsible-content li:last-child{
  margin-bottom: 27px !important;
}

/* profile-content */
#profile-content{
  width: 100%;
  margin-left: 156px;
  position: relative;
}
h1, h2{
  margin-bottom: 34px;
}

/* personal-data */
form{
  padding-bottom: 100px;
}
#profile-photo{
  margin-bottom: 29px;
}

.profile-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.profile_input{
  margin-bottom: 24px;
}
.profile_input label{
  display: block;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;;
}
.profile_input input{
  width: 458px;
}

.left_button{
  position: absolute;
  left:0
}
.right_button{
  position: absolute;
  right: 0;
}

/* profile-overview */
#profile-data{
  width: 100%;
  display: flex;
  margin-bottom: 65px;
}
#name-and-role{
  margin-left: 33px;
}
#profile-name{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 4px;
}
.profile-info-entry{
  font-size: 14px;
  font-weight: 600;
  color: #9A98A1;
  margin-bottom: 4px;
}

#edit-data{
  display: flex;
  width: 160px;
  margin-left: auto;
  gap: 10px;
}
.edit-image{
  width: 20px;
  height: 20px;
}

#profile-statistics{
  width: 385px;
}
.statistic-element{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.icon-circle{
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #F1F3F4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistic-name{
  font-size: 16px;
  font-weight: 700;
  margin-left: 16px;
}
.statistic-count{
  font-size: 16px;
  font-weight: 700;
  margin-left: auto;
}

/* My Places */
#no-places-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 84px;
}

#no-places-container img{
  margin-bottom: 26px;
}

#no-places-container > span{
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #B6B6B6;
  margin-bottom: 23px;
} 

#places-container{
  width: 100%;
}

.place-entry{
  height: 64px;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
}
.place-details{
  height: 64px;
  padding-top: 7px;
  margin-left: 38px;
}

.place-entry > img{
  width: 64px;
  height: 64px;
  border-radius: 12px;
}
.place-name{
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}
.place-name:hover{
  text-decoration: none;
}
.place-localisation{
  color: #9A98A1;
  font-size: 14px;
}

.delete-place button{
  cursor: pointer;
}
.buttons {
  margin-left: auto;
}
