* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
}
body{
  margin: 0;
}
footer{
  height: 100px;
}
header{
  border-bottom: 1px #EAEAEA solid;
  height: 94px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav{
  width: 320px;
}
.main_links{
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav_item>a{
  color:#B6B6B6;
  font-weight:700;
}
.nav_item img{
  vertical-align: middle;
}


#search_user_group{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#search form{
  position: relative;
  width: 239px;
  height: 48px;
}
.search-bar{
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: #F1F3F4;
  padding-left: 19px;
  border:none;
  margin-bottom: 53px;
}
.search-icon{
  position: absolute;
  top: 15px;
  right: 15px;
}

#user{
  margin-left: 24px;
}

#user_profile_photo{
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
#user_profile_photo img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/*POLECANE*/
#main-wrapper{
  margin:0 80px;
}
#categories{
  display: flex;
  margin-top: 47px;
}
.category-item{
  min-width: 96px;
  height:39px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 16px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 700;
}

.category-item:hover{
  background-color: #F1F3F4;
}
.category-item.btn-black:hover{
  background-color: #1A1A1A;
}
.btn-round{
  border:1px solid #EAEAEA;
  border-radius: 23px;
}
.btn-black{
  background-color: #1A1A1A;
  color: #FFFFFF;
}

#suggested-wrapper{
  margin-top: 41px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 24px;
}
.card-suggested{
  display: block;
}
.card-image{
  overflow: hidden;
  border-radius: 16px;
}
.card-image img{
  object-fit: cover; 
  width: 100%;
  height: auto;
  display: block;
}
.card-details{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
}
.place-localisation{
  color: #9A98A1;
}
.map_pin_icon{
  transform: translateY(3px); 
}


/* MEDIA */
@media (max-width: 1200px) {
  #suggested-wrapper {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
  }
}

@media (max-width: 768px) {
  #suggested-wrapper {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
  }
}

@media (max-width: 480px) {
  #suggested-wrapper {
      grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}